
<nav id="nav">
   <div class="left">
      <NavLink href="/#nav">Start</NavLink>
      <NavLink href="/#experiences">Experiences</NavLink>
      <NavLink href="/#projects">Projects</NavLink>
      <NavLink href="/#contact">Contact</NavLink>
      <NavLink href="/blog">Blog</NavLink>
   </div>
   <div class="right">
      
   </div>
</nav>

@code {
   
}