
<nav id="nav" class="@(_isMenuOpen ? "open" : "")">
   <div class="left">
      <NavLink href="/#nav">Start</NavLink>
      <NavLink href="/#experiences">Experiences</NavLink>
      <NavLink href="/#projects">Projects</NavLink>
      <NavLink href="/#contact">Contact</NavLink>
      <NavLink href="/blog">Blog</NavLink>
   </div>
   <div class="right">
      <div class="burger" @onclick="@ToggleMenu">
         <div></div>
         <div></div>
         <div></div>
      </div>
   </div>
</nav>

@code {

   private bool _isMenuOpen;

   private void ToggleMenu()
   {
      _isMenuOpen = !_isMenuOpen;
   }

}