@using Portfolio.Marvin.Components.Personal

<div class="main">
   <div class="text">
      I’m always open to new conversations, whether it’s about coding, potential projects, or exciting opportunities to join a team.
      <p>I enjoy talking about software architecture, C#, and building real-world solutions, but I’m also happy to just exchange ideas or discuss your next project challenge.</p>
   </div>
   <p class="spacer">If you’d like to collaborate, hire me, or simply have a chat, here’s how you can reach me:</p>
   <div class="side">
      <div class="touch">
         <PersonalLink SvgName="briefcase">
            <a class="simple-link" href="mailto:marvindrude1@gmail.com">Email contact</a>
         </PersonalLink>
         <PersonalLink SvgName="bubble">
            <a class="simple-link" href="https://discord.com/users/">Discord name: marv_.</a>
         </PersonalLink>
      </div>
      <div class="address">
         <p>Marvin Drude</p>
         <p>Stadtweg 22</p>
         <p>33100 Paderborn</p>
      </div>
   </div>
</div>

@code {
   
}