@using Portfolio.Marvin.Components.Personal

<div class="main">
   <div class="text">
      I’m always open to new conversations, whether it’s about coding, potential projects, or exciting opportunities to join a team.
      <p>I enjoy talking about software architecture, C#, and building real-world solutions, but I’m also happy to just exchange ideas or discuss your next project challenge.</p>
   </div>
   <p class="spacer">If you’d like to collaborate, hire me, or simply have a chat, here’s how you can reach me:</p>
   <div class="side">
      <div class="touch">
         <PersonalLink SvgName="briefcase">
            <a class="simple-link" href="mailto:marvindrude1@gmail.com">Email contact</a>
         </PersonalLink>
         <PersonalLink SvgName="bubble">
            <a class="simple-link" href="https://discord.com/users/264163239137378304">Discord name: marv_.</a>
         </PersonalLink>
      </div>
      <div class="address">
         <p>Marvin Drude</p>
         <p>Stadtweg 22</p>
         <p>33100 Paderborn</p>
      </div>
   </div>
   <div class="philosophy">
      <p>
         Programming, to me, is what drawing is to an artist: a way to bring ideas to life. But while an artist shapes the visible surface, 
         a programmer has the unique privilege of shaping both the canvas and the unseen mechanics behind it. The beauty lies not only in the 
         polished frontend that people interact with, but also in the intricate architectures, algorithms, and structures working in harmony behind the scenes.
      </p>
      <p>
         What excites me most about programming is this ability to create something out of nothing, a solution that is both elegant internally and impactful externally. 
         Even better, the things I build can genuinely help others, turning creativity into something practical and valuable.
      </p>
      <p>
         I discovered this love for coding early on, and it naturally grew into my professional path. Along the way, 
         I’ve poured countless hours into personal projects, often collaborating with close friends, driven by curiosity, challenge, and the joy of creating.
      </p>
   </div>
</div>

@code {
   
}