@font-face {
    font-family: Roboto;
    src: url("fonts/RobotoMono-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("fonts/RobotoMono-Italic-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

:root {
    color-scheme: dark;
    --page-max-width: 2200px;

    --main-background: #0D1821;
    --color-primary: #FFFFFF;
    --color-secondary: rgba(255,255,255,0.7);
    --color-tertiary: rgba(255,255,255,0.5);
    --color-quaternary: rgba(255,255,255,0.2);
    
    --error-color: #cc2a2b;
    
    --main-color: #2D68F6;
    --main-color-2: #0a4be6;
}

* {
    box-sizing: border-box;
    color: var(--color-primary);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;    
    font-family: Roboto, serif;
    outline: none;
}

body {
    background-color: var(--main-background);
}

.simple-link {
    cursor: pointer;
    text-decoration: none;
}

.simple-link:hover {
    text-decoration: underline;
}

.hide {
    display: none !important;
}