@page "/blogs/{*RelativePath}"
@using Microsoft.AspNetCore.Html
@using Portfolio.Marvin.Models.Blogs
@using Portfolio.Marvin.Providers.Interfaces

@inject IBlogProvider BlogProvider
@inject NavigationManager NavigationManager

@if (_initialized && _blogPage is not null)
{
   <div class="page">
      <h1>@_blogPage.Meta.Title</h1>
      <div class="content">
         @(new MarkupString(_blogPage.Content))
      </div>
   </div>
}

@code {
   
   [Parameter]
   public string? RelativePath { get; set; }

   private BlogPage? _blogPage;
   private bool _initialized;
   
   protected override async Task OnInitializedAsync()
   {
      _blogPage = await BlogProvider.GetPage(RelativePath ?? string.Empty);
      _initialized = true;

      if (_blogPage is null)
      {
         NavigationManager.NavigateTo("/not-found");
      }
   }

}