.terminal-wrapper {
    padding: 60px 40px 20px 40px;
    max-width: 1200px;
    margin: 0 auto 50px auto;
}

.section {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.section > h2 {
    color: var(--color-primary);
    font-size: 30px;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-quaternary);
    font-weight : 450;
}

.section > .content {
    padding: 20px 0;
}

@media (max-width: 950px) {

    .terminal-wrapper {
        padding: 60px 10px 20px 10px;
    }
    
    .section {
        padding-top: 50px;
        padding-left: 5px;
        padding-right: 15px;
    }

    .section > h2 {
        padding: 10px;
    }
    
}