@page "/"
@using Portfolio.Marvin.Components.Common
@using Portfolio.Marvin.Components.Experiences
@using Portfolio.Marvin.Components.Portfolios
@using Portfolio.Marvin.Components.Terminals
@layout MainLayout

<PageTitle>Marvin Drude - Portfolio</PageTitle>

<HeadContent>
   <MetaInfo 
      Title="Marvin Drude - Portfolio"
      Description="Experiences and projects of Marvin Drude - Senior Full Stack Developer"
      Keywords="Marvin Drude, Portfolio, C#, .NET, Software Developer"
      SiteName="Marvin Drude"
      ImageUrl="/brand.webp"
      Type="website"
   />
</HeadContent>

<div class="terminal-wrapper">
   <Terminal></Terminal>
</div>
<div class="section">
   <h2 id="experiences">Experiences</h2>
   <div class="content">
      <Experiences></Experiences>
   </div>
</div>
<div class="section">
   <h2 id="projects">Projects</h2>
   <div class="content">
      <Projects></Projects>
   </div>
</div>
<div class="section">
   <h2 id="contact">Contact</h2>
   <div class="content">
      <Contact></Contact>
   </div>
</div>