<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preload" href="fonts/RobotoMono-VariableFont_wght.ttf" />
        <link rel="preload" href="fonts/RobotoMono-Italic-VariableFont_wght.ttf" />
        
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="DC.language" content="en"/>
        <meta name="revisit-after" content="1 days"/>
        <meta name="audience" content="All"/>
        <meta name="date" content="@(DateTimeOffset.Now.Date.ToString("dd-MM-YYYY"))"/>
        <meta name="robots" content="index, follow"/>
        <meta name="page-topic" content="Software Development"/>
        <meta name="page-type" content="Portfolio"/>

        <base href="/"/>

        <ResourcePreloader/>

        <link rel="stylesheet" href="@Assets["app.css"]"/>
        <link rel="stylesheet" href="@Assets["Portfolio.Marvin.styles.css"]"/>
        <ImportMap/>
        <link rel="icon" type="image/png" href="brand.ico"/>

        <HeadOutlet @rendermode="InteractiveServer"/>
    </head>
    <body>
        <Routes @rendermode="InteractiveServer" />
        <ReconnectModal />
        
        <script src="@Assets["_framework/blazor.web.js"]"></script>
    </body>
</html>
