@using Portfolio.Marvin.Components.Common
@using Portfolio.Marvin.Enums

<HeadContent>
   <link rel="preload" as="image" href="images/myself.webp" fetchpriority="high" type="image/webp" />
</HeadContent>

<div class="personal">
   <div class="me-image"></div>
   <h3 class="name">Marvin Drude</h3>
   <h4 class="job">Senior Software Developer</h4>
   
   <div class="current-employment">
      Currently at 
      <div class="employer-logo"></div>
   </div>
   
   <div class="links">
      <PersonalLink SvgName="marker">
         <span style="font-size: 19px">NRW, Germany</span>
      </PersonalLink>
      <PersonalLink SvgName="github">
         <a href="https://github.com/MarvinDrude" class="simple-link" target="_blank" style="font-size: 19px">@@MarvinDrude</a>
      </PersonalLink>
      <PersonalLink SvgName="linkedin">
         <a href="https://www.linkedin.com/in/marvin-drude-55705825a" class="simple-link" target="_blank" style="font-size: 19px">LinkedIn</a>
      </PersonalLink>
      <PersonalLink SvgName="instagram">
         <a href="https://www.instagram.com/marvindrudee" class="simple-link" target="_blank" style="font-size: 19px">@@marvindrudee</a>
      </PersonalLink>
   </div>
   
   <div class="technologies">Technologies I love and currently use</div>
   <TechnologyList Kinds="@_technologies" />
   
   <div class="public-souce">This page is built with Blazor and is public source</div>
   <PersonalLink SvgName="github">
      <a href="https://github.com/MarvinDrude/Portfolio.Marvin" class="simple-link" target="_blank" style="font-size: 19px">Portfolio.Marvin</a>
   </PersonalLink>
</div>

@code {

   private readonly List<TechnologyKind> _technologies = [
      TechnologyKind.CSharp, TechnologyKind.Net, 
      TechnologyKind.Blazor, TechnologyKind.PostgreSql,
      TechnologyKind.Html5, TechnologyKind.Css,
      TechnologyKind.JavaScript
   ];

}