
<div class="personal">
   <div class="me-image"></div>
   <h3 class="name">Marvin Drude</h3>
   <h4 class="job">Senior Software Developer</h4>
   
   <div class="current-employment">
      Currently at 
      <div class="employer-logo"></div>
   </div>
   
   <div class="links">
      <PersonalLink SvgName="marker">
         <span style="font-size: 19px">NRW, Germany</span>
      </PersonalLink>
      <PersonalLink SvgName="github">
         <a href="https://github.com/MarvinDrude" class="simple-link" target="_blank" style="font-size: 19px">@@MarvinDrude</a>
      </PersonalLink>
      <PersonalLink SvgName="linkedin">
         <a href="https://www.linkedin.com/in/marvin-drude-55705825a" class="simple-link" target="_blank" style="font-size: 19px">LinkedIn</a>
      </PersonalLink>
      <PersonalLink SvgName="instagram">
         <a href="https://www.instagram.com/marvindrudee" class="simple-link" target="_blank" style="font-size: 19px">@@marvindrudee</a>
      </PersonalLink>
   </div>
</div>

@code {
   
}